.btn-custom {
  background-color: #013220 !important; /* Vert sapin */
  color: white !important; /* Texte blanc */
  border-color: #013220 !important; /* Bordure assortie */
}

.btn-custom:hover {
  background-color: #014b30 !important; /* Légèrement plus clair au survol */
}
